
.card {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;

}

.card-info {
    background-color: #fff;
    font-size: medium;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px; 
}

.card-info-background {
    border-radius: 10px;
    opacity: 1;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
    height: 400px;
 
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


  
  
