
.card {
    display: flex;
    position: absolute;
    width: 600px;
    height: 800px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    
   


}

.card-info {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 250px;
    
}

h2 {
    width: 250px;
    padding: 0;
    margin: 0;
}

p {
    width: 250px;
    padding: 0;
    margin: 0;
}